body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.btn_modifier {
    margin: 10px;
}

#modalPopup {
    background-color: white;
    max-width: 630px;
    border: 1px solid grey;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%
}

#modalPopup h2 {
    display: none;     /* TEST FOR 'GALERIE PHOTO' TO NOT SHOW' WHEN DISPLAYING 2ND MODAL */
    justify-content: center;
    margin: 20px 0 50px 0
}

#modalTitle {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
    font-family: "Work Sans";
    font-weight: 400;
    /*font-size: 25px;*/
    color: #000;
}

#worksContainerContainer {
    display:flex;
    justify-content: center;
}
#modal_worksContainer {
    display: none; /* TESTING: initial state is 'flex' --> for testing formContainer */
    /* grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 10px; */
    padding: 46px 0 24px;
    width: 420px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#modal_worksContainer img {
    width: 100%;
    height: 105px;
    object-fit: cover;
}

.worksContainerFigure {
    width: 17%;
    margin-bottom: 40px;
}

#btn_addWork {
    display: none; /* TESTING --> ADDED THIS PROP TO SEE MODAL2 CORRECTLY*/ 
    font-family: "Syne";
    color: white;
    background: #1d6154;
    border-radius: 60px;
    border: none;
    padding: 10px 50px;
    margin: 38px 0 23px 0;
    width: 240px;
    text-align: center;
    margin-left: 2rem;
    cursor: pointer;
}


.separator {
    width: 420px;
    height: 1px;
    background: #b3b3b3;
    margin: 47px auto 0 auto;
}

#modal_formContainer {
	display: flex; /* TESTING: initial state is 'none' */ 
	flex-direction: column;
	align-items: center;
	height: 620px;
	background: white;
	border-radius: 10px;
}

#validButton {
    font-family: "Syne";
    color: white;
    background: #a7a7a7;
    border-radius: 60px;
    border: none;
    padding: 1Opx 50px;
    margin: 20px;
    width: 240px;
    text-align: center;
    height: 35px;
}

#validatedButton {
    font-family: "Syne";
    color: white;
    background: #1d6154;
    border-radius: 60px;
    border: none;
    padding: 1Opx 50px;
    margin: 20px;
    width: 240px;
    text-align: center;
    height: 35px;
}

.modalButtonsTop {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

#modalBackButton {
    border:none;
    background-color: transparent;
}

#modalBackButton:hover{
    cursor: pointer;
}

#modalXButton {
    border: none;
    background-color: transparent;
}

#modalXButton:hover {
    cursor: pointer;
}


.inputForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.imgBlock {
    display: flex;
    background: #E8F1F6;
    width: 400px;
    height: 190px;
    margin-bottom: 5px;
    flex-direction: column;
}

.imgColours {
    text-decoration: none;
    font-family: "Syne";
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

#accessFileSystemBtn {
    font-family: "Syne";
    color: #83848dfc;
    background: #a7a7a78f;
    border-radius: 60px;
    width: 170px;
    height: 35px;
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.inputWrapper {
    margin-top: 10px;
}
.formInput{
    margin-top: 10px;
    height: 30px;
    width: 100%;
    font-size: 1.2em;
    border: transparent;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    font-family: "Work Sans";
}
#photoText {
        color: #83848dfc;
        font-family: "Work Sans";
    }

#uploadImg{
    display:none;
}
.fa-regular,
.far {
    font-weight: 400;
    margin-top: 15px;
}

/* .button-container {
    display: none;
    // TESTING: SET TO NONE: STYLING USED FOR MODAL 1 - AJOUTER UNE PHOTO / SAME AS VALIDER
    font: 500 16px "Syne";
    color: #ffffff;
    border: 1px solid #1d6154;
    border-radius: 60px;
    padding: 9px 46px;
    margin-bottom: 24px;
    background-color: #1d6154
} */